name: Auto Update Nodes
on:
  schedule:
    - cron: '0 */6 * * *' # Runs every 6 hours
  workflow_dispatch:      # Manual run button

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
          
      - name: Install PyYAML
        run: pip install pyyaml requests

      - name: Run Script
        run: python update.py

      - name: Commit Changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add LL.yaml
          git commit -m "Updated nodes while preserving custom DNS/Rules" || exit 0
          git push
